body {
	font: 12px arial;
}
div.container {
	width: 940px;
	margin: 0px auto;
}
table.users {
	width: 100%;
}
table.users thead tr th {
	text-align: left;
}
table.users tbody tr:nth-child(even) {
	background-color: #ccc;
}

table.editUser tbody tr td.formLabel {
	background-color: #dedede;
	width: 145px;
	padding-right: 5px;
	text-align: right;
}
table.editUser tbody tr td label {
	font: bold 14px arial;
}
table.editUser tbody tr td.errorText label,
div.errorText {
	color: #c00;
	font-weight: normal;
	font-style: italic;
	display: block;
}
input[type="submit"], button {
	background-color: #49CC00;
	color: #fff;
	border: 0px;
	padding: 4px;
	margin-top: 15px;
	font-weight: bold;
	cursor: pointer;
}
input[type="submit"]:active, button:active {
	background-color: #3CA302;
	border: #49CC00;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 3px;
}
.loginForm label{
	display: inline-block;
	width: 73px;
	text-align: right;
	background-color: #dedede;
	padding: 3px;
	color: #555;
}
.alignright {
	float: right;
}
.message {
	color: #cc0000;
	padding: 5px 0px;
	font-style: italic;
}